:root {
  --surface-primary: var(--deep-blue);
  --surface-secondary: var(--dark-blue);
  --surface-accent: var(--muted-dark-blue);
  --surface-muted: var(--dark-blue);
  --surface-bright: var(--white);
}
