.containedIconShell {
  display: grid;
  color: var(--accent-strong);
  background-color: var(--bg-accent-soft);
  border-radius: var(--radius-button);
  place-items: center;
  aspect-ratio: 1 / 1;

  &__sm {
    width: 34px;
  }
}
