.icon {
  display: inline-block;
  flex-shrink: 0;
  align-items: center;

  & svg {
    display: block;
    inline-size: auto;
  }
}

.labelHiddenOnMobile {
  --button-min-width: 0px;

  & .label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
  }

  @media (width >= 30rem) {
    & .label {
      position: static;
      width: auto;
      height: auto;
      overflow: visible;
      white-space: normal;
      clip-path: none;
    }
  }
}
