.featuredHeaderBlock {
  &__header {
    display: grid;
    gap: var(--spacing-xs);
  }

  &__heading {
    color: var(--text-primary);
    font-size: var(--text-heading-xl-size);
    line-height: var(--text-heading-xl-leading);
    letter-spacing: var(--text-heading-xl-tracking);
    font-family: var(--text-heading-xl-font);
    font-weight: var(--text-heading-xl-weight);
    margin-bottom: var(--spacing-l);
  }

  &__bodyWrapper {
    display: grid;
    font-size: var(--text-body-lg-size);
    line-height: var(--text-body-lg-leading);
    letter-spacing: var(--text-body-lg-tracking);
    font-family: var(--text-body-lg-font);
    font-weight: var(--text-body-lg-weight);
  }
}
