.featuredHeaderBlock {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-m-l);

  @media (width >= 64rem) {
    grid-template-columns: 1fr 2fr;
  }
}

.primary {
  color: var(--text-secondary);
}

.secondary {
  color: var(--text-on-accent);
}

.tertiary {
  color: var(--text-on-accent);
}
