.eyebrow {
  font-size: var(--font-size-lg);
  font-weight: 600;
  letter-spacing: var(--tracking-normal);
  display: inline-flex;
  align-items: center;
  gap: 10px;

  &:before {
    content: '';
    width: 26px;
    height: 2px;
    background: var(--accent-line);
  }

  &--primary {
    color: var(--bg-accent-strong);
  }
}
