.navigationLink {
  padding: var(--spacing-padding-tight) var(--spacing-padding-base);
  border-radius: var(--radius-2);
  color: var(--text-primary);
  transition: background-color 0.2s ease-in-out;
  min-width: 6rem;


  &__primary {
    &:hover {
      color: var(--text-primary);
      background-color: var(--interactive-hover);
    }

    &:focus-visible {
      outline: 2px solid var(--border-focus);
      outline-offset: 3px;
    }
  }
}
