.hamburgerWrapper {
  .hamburgerToggle {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }

  .hamburger {
    --size: clamp(16px, 10vmin, 32px);
    --slice-height: 3px;

    display: block;
    box-sizing: content-box;
    width: var(--size);
    height: var(--size);
    padding: 0.5rem;
    cursor: pointer;

    .slice {
      position: relative;
      top: calc((33% - var(--slice-height)) / -2);
      display: block;
      width: 100%;
      height: var(--slice-height);
      margin-top: calc(33% - var(--slice-height));
      background-color: var(--text-primary);
      border-radius: var(--slice-height);
      opacity: 0.9;
      transition:
        top 0.2s ease,
        transform 0.2s ease,
        opacity 0.2s ease;
    }
  }

  &:has(.hamburgerToggle:checked) {
    .slice:nth-child(1) {
      top: calc(50% - 33% + var(--slice-height) / 2);
      transform: rotate(45deg);
    }

    .slice:nth-child(2) {
      opacity: 0;
    }

    .slice:nth-child(3) {
      top: calc(-50% + var(--slice-height) / 2);
      transform: rotate(-45deg);
    }
  }
}
