.aboutMe {
  &__divider {
    border: none;
    border-top: 1px solid var(--border-divider);

    @media (width >= 48rem) {
      display: none;
    }
  }

  &__bodyWrapper {
    font-weight: var(--text-body-md-weight);
    font-size: var(--text-2lg);
    font-family: var(--text-body-md-font);
    line-height: var(--text-body-md-leading);
    letter-spacing: var(--text-body-md-tracking);

    p {
      max-width: 65ch;
    }
  }
}
