:root {
  --radius-0: 0;
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 10px;
  --radius-6: 999px;
  --border-width-05: 1px;
  --border-width-1: 2px;
  --border-width-2: 4px;
  --border-width-3: 6px;
  --border-width-4: 8px;
}
