:root {
  --radius-0: 0;
  --radius-1: 2px; /* 2px */
  --radius-2: 4px; /* 4px */
  --radius-3: 8px; /* 8px */
  --radius-4: 12px; /* 12px */
  --radius-5: 18px; /* 18px */
  --radius-6: 26px; /* 26px */
  --radius-7: 999px;

  --border-width-hairline: 1px;
  --border-width-1: 2px;
  --border-width-2: 4px;
  --border-width-3: 6px;
  --border-width-4: 8px;
}
