:root {
  --grey-000: oklch(96.19% 0.0011 17.18deg);
  --grey-100: oklch(93.48% 0.0011 17.18deg);
  --grey-600: oklch(48.11% 0.0038 17.29deg);
  --grey-900: oklch(23.69% 0.0036 48.57deg);
  --red-500: oklch(61.12% 0.2252 31.45deg);
  --red-600: oklch(58.07% 0.2152 31.47deg);
  --red-700: oklch(48.06% 0.185 31.42deg);
}
