:root {
  --duration-1: 50ms;
  --duration-2: 100ms;
  --duration-3: 200ms;
  --duration-4: 300ms;
  --duration-5: 1000ms;
  --ease-out-expo: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}
