:root {
    --z-1: -1;
    --z-2: 0;
    --z-3: 10;
    --z-4: 1000;
    --z-5: 1100;
    --z-6: 1200;
    --z-7: 1300;
    --z-8: 1400;
    --z-9: 1500;
    --z-10: 1600;
    --z-11: 1700;
    --z-12: 1800;
    --z-13: 2147483647;
}
