.badge {
  display: inline-block;
  padding: var(--spacing-2xs) var(--spacing-xs);
  font-weight: var(--text-caption-md-weight);
  font-size: var(--text-md);
  font-family: var(--text-caption-md-font);
  line-height: var(--text-caption-md-leading);
  letter-spacing: var(--text-caption-md-tracking);
  border-radius: var(--radius-badge);

  &--primary {
    color: var(--text-primary);
    background-color: var(--accent-subtle);
  }
}
