.badge {
  border-radius: var(--radius-badge);
  padding: var(--spacing-padding-tight) var(--spacing-padding-base);
  display: inline-block;
  font-size: var(--text-md);
  font-weight: var(--text-caption-md-weight);
  line-height: var(--text-caption-md-leading);
  font-family: var(--text-caption-md-font);
  letter-spacing: var(--text-caption-md-tracking);

  &--primary {
    color: var(--text-primary);
    background-color: var(--accent-subtle);
  }
}
