.dialog {
  /* component styles, if any */
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--bg-surface-overlay);
  opacity: var(--opacity-4);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-duration: 300ms;
  transition-property: opacity;
}

@supports (-webkit-touch-callout: none) {
  .backdrop {
    position: absolute;
  }
}

.backdrop[data-starting-style],
.backdrop[data-ending-style] {
  opacity: 0;
}

.viewport {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: stretch;
}

.viewport.right {
  justify-content: flex-end;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: min(320px, 100vw);
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--bg-surface);
  outline: 1px solid var(--bg-raised);
  transition: transform 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.popup.right {
  border-left: 1px solid var(--border-divider);
}

.popup.right[data-starting-style],
.popup.right[data-ending-style] {
  transform: translateX(100%);
}

.title {
  margin: 0;
  color: var(--text-primary);
  font-weight: 700;
  font-size: var(--font-size-2lg);
  line-height: 1.4;
  letter-spacing: -0.0025em;
}

.description {
  margin: 0;
  color: var(--text-secondary);
  font-size: var(--font-size-md);
  line-height: 1.5;
}
