.siteHeader {
  padding-block: var(--spacing-padding-base);
  background-color: var(--bg-page);
  border-bottom: 1px solid var(--line-faint);

  @media (min-width: 40rem) {
    padding: var(--spacing-padding-base) var(--spacing-padding-wide);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-gap-wide);
    padding-inline: var(--element-gutter);
  }

  &__navWrapper {
    display: none;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    @media (min-width: 40rem) {
      display: flex;
      flex-grow: 1;
    }
  }

  &__navContainer {
    margin-inline: auto;
    max-width: fit-content;

    ul {
      display: flex;
      gap: var(--spacing-gap-wide);
      list-style-type: none;
      padding: 0;
    }

    @media (min-width: 40rem) {
      display: block;
      flex-grow: 1;
    }
  }

  &__mobileNavWrapper {
    z-index: var(--z-toast);

    @media (min-width: 40rem) {
      display: none;
    }
  }
}
