.siteHeader {
  padding: var(--spacing-padding-tight) var(--spacing-padding-base);
  border-bottom: 1px solid var(--surface-bright);

  @media (min-width: 40rem) {
    padding: var(--spacing-gap-wide) var(--spacing-padding-wide);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 40rem) {
      justify-content: flex-start;
    }
  }

  &__navContainer {
    margin-inline: auto;
    max-width: fit-content;

    ul {
      display: flex;
      gap: var(--spacing-gap-wide);
      list-style-type: none;
      padding: 0;
    }

    @media (min-width: 40rem) {
      flex-grow: 1;
    }
  }
}
