.moduleSectionWrapper {
  padding-inline: var(--element-gutter);
  padding-block: var(--app-vertical-rhythm);
  border-bottom: 2px solid var(--border-divider);

  &:last-child {
    border-bottom: none;
  }
}

.fullBleed {
  padding-inline: 0;
}

.primary {
  background-color: transparent;
}

.secondary {
  background-color: var(--bg-accent);
}
