.aboutMe {
  &__contentWrapper {
    display: grid;
    gap: var(--space-m);

    @media (min-width: 40rem) {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-l);
    }
  }

  &__bodyWrapper {
    display: grid;
    font-size: var(--text-body-lg-size);
    line-height: var(--text-body-lg-leading);
    letter-spacing: var(--text-body-lg-tracking);
    font-family: var(--text-body-lg-font);
    font-weight: var(--text-body-lg-weight);

    p {
      max-width: 60ch;
    }
  }
}
