.button {
  display: inline-flex;
  justify-content: center;
  min-width: 6rem;
  padding: var(--spacing-2xs) var(--spacing-xs);
  color: var(--text-secondary);
  font-weight: var(--text-body-md-weight);
  font-size: var(--text-body-md-size);
  font-family: var(--text-body-lg-font);
  line-height: var(--text-body-md-leading);
  letter-spacing: var(--text-body-md-tracking);
  border-radius: var(--radius-2);
  transition: background-color 0.2s ease-in-out;

  &--fullWidth {
    width: 100%;
  }

  &__primary {
    color: var(--text-tertiary);
    background-color: var(--interactive-default);

    &:hover {
      color: var(--text-primary);
      background-color: var(--interactive-hover);
    }

    &:focus-visible {
      outline: 2px solid var(--border-focus);
      outline-offset: 3px;
    }
  }

  &__secondary {
    color: var(--text-primary);
    background-color: transparent;
    border: 1px solid var(--text-primary);

    &:hover {
      color: var(--text-primary);
      background-color: rgb(255 255 255 / 4%);
    }

    &:focus-visible {
      outline: 2px solid var(--border-focus);
      outline-offset: 3px;
    }
  }
}
