.jobDescription {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  justify-content: space-between;

  h3 {
    color: var(--text-primary);
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);

    span {
      color: var(--text-secondary);
      font-size: var(--fs-md);
      text-transform: capitalize;
    }
  }

  @media (width >= 30rem) {
    flex-direction: row;
  }
}

.date {
  color: var(--text-accent);
  font-size: var(--fs-md);
  text-transform: capitalize;
}
