.coverHero {
  min-height: 200px;
  background-color: var(--surface-primary);



  &__container {
    @media (min-width: 40rem) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }

  &__contentWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-tight);
    padding: var(--spacing-padding-base);

    @media (min-width: 40rem) {
      padding: var(--spacing-padding-wide);
      grid-column: span 8 / span 8;
    }

    h1 {
      font-size: var(--text-display-xl-size);
      line-height: var(--text-display-xl-leading);
      letter-spacing: var(--text-display-xl-tracking);
      font-family: var(--text-display-xl-font);
      font-weight: var(--text-display-xl-weight);
    }

    p {
      font-size: var(--text-h3-size);
    }
  }

  &__imageWrapper {
    display: none;

    @media (min-width: 40rem) {
      display: block;
      grid-column: span 4 / span 4;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__label {
    color: var(--foreground-text-secondary);
    font-size: var(--text-body-lg-size) !important;
  }
}
