.jobCard {
  width: 100%;
  background-color: var(--bg-card);
  color: var(--text-tertiary);
  padding: var(--spacing-padding-base);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-base);
  }
}
